@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 620px;
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

  .animate-my-float {
    animation: float 4s ease-in-out infinite;
  }
}

body {
  background-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
